body {
    margin: 0;
    background-color: rgb(192, 217, 53);
}

.rootDiv {
    background-color: aqua;
    padding: 20px;
}

.general {
    margin: 0;
    padding: 5px;
}

.FancyBorder {
    padding: 10px 10px;
    border: 10px solid;
}

.FancyBorder-blue {
    border-color: blue;
}